<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <style>
  .hn-1 { 
 background-color:olive;
    color:white;
}
.hn-1 #image {
  padding-top: 15px;
}
#bottom{
  padding-left: 20px;
  padding-right: 20px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
.img-circle {
    border-radius: 50%;
}
</style>

  
  <div id="#bottom">
  <div class="container-fluid hn-1 text-center">
    
    <img id="#image" src="https://gitlab.com/uploads/user/avatar/1200029/avatar.png" width="140" high="110" class="img-circle">
    <h3>Nguyễn Đình Quân</h3>
    <p>Hà Nội</p>
</div>
  </div>
  <p>
   Họ tên : Nguyễn Đình Quân </p>
  <p> Sinh ngày : 13/06/1996</p>
   <p>Nguyên quán : Hà Nội
  </p>
  <p> Sinh viên năm 3 trường đại học HUTECH </p>
  <p> MSSV : 1411061377 </p>

</ion-content>
