
<ion-header>
  <ion-navbar >
    <ion-title> Trang chủ</ion-title>
    </ion-navbar>
    </ion-header>

<ion-content padding>
  <style>
 </style>

  <h2>Giới thiệu</h2>
  <div id="#bottom">
  <div class="container-fluid hn-1 text-center">
    
    <img id="#image" src="https://gitlab.com/uploads/user/avatar/1200029/avatar.png" width="140" high="110" class="img-circle">
    <h3>Nguyễn Đình Quân</h3>
    <p>Hà Nội</p>
</div>
  </div>
  <p>
   Họ tên : Nguyễn Đình Quân </p>
  <p> Sinh ngày : 13/06/1996</p>
   <p>Nguyên quán : Hà Nội
  </p>
  <p>
    Sở thích : xem phim , bóng đá , âm nhạc , pha chế ....
  </p>
  
    <h3>Kinh nghiệm </h3>
    <p> Bartender - chuyên pha chế rượu (2 năm ) </p> 
    <p> Barista - chuyên pha chế cà phê(1 năm) </p>
    <h3>Những nơi từng ghé thăm</h3>
    <p>Nha Trang ( 3 năm trước )</p>
    <p>Đà Nẵng ( 1 năm trước )</p>
<p>Vũng Tàu ( 2 tháng trước )</p>
  <p>Tp.Hồ Chí Minh ( 2014 đến nay )</p>
</ion-content>
